body {
    background-color: #212529;
}

.chat_two {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* .chart_one {
    border: 0.4px solid #ffffff3b;
} */

.chart_two_a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 0.4px solid #ffffff3b; */
}

.chart_two_b {
    display: flex;
    flex-wrap: nowrap;
    /* border: 0.4px solid #ffffff3b; */
    width: 450px;
    height: 480px;
    padding-right: 450px;
    overflow: hidden;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: black;
}

html::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 25px;
}

.showDataGrid>div {
    color: black;
}

.m-7 {
    margin: 50px;
}

.ww {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.main-ho>div:hover {
    box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.144);
}

.btn:focus {
    outline: none;
    box-shadow: none;
}